<%= simple_form_for(playlist) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :thumbnail %>

  <div class="text-right">
    <%= f.button :submit %>
  </div>
<% end %>
