<p id="notice"><%= notice %></p>

<div class="flex items-center text-center justify-center text-2xl mt-4 mb-4">
  <%= @playlist.title %>
</div>

<div class="-mx-4">
  <% @playlist.musics.each do |music| %>
    <%= render Musics::Card::Component.new(music: music) %>
  <% end %>
</div>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
