<p id="notice"><%= notice %></p>

<%= image_tag @playlist.thumbnail, width: 400 %>

<div class="w-40 h-40"
  style="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1), rgba(117, 19, 93, 0.73)), url(<%= url_for @playlist.thumbnail %>); background-size: cover;">
  a
</div>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @playlist.code %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
