<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @music.title %>
</p>

<p>
  <strong>Mp3:</strong>
  <audio controls>
    <source src="<%= url_for @music.mp3 %>" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
</p>

<p>
  <strong>Link:</strong>
  <%= @music.link %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @music.thumbnail, width: 400 %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @music.duration %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @music.artist %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
