<!DOCTYPE html>
<html>
  <head>
    <title>Sytb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-beaver-900 text-white">
    <div class="container max-w-4xl mx-auto mb-20 px-4">
      <%= yield %>
    </div>
    <%= render Player::Component.new %>
  </body>
</html>
